/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

